{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- ---------Spotlight Section---------- -->
     <section id="spotlight">
        <div class="wrapper">
            <div class="spot-right">
                <h2>Unlock Your Potential with Byway</h2>
                <p>Welcome to Byway, where learning knows no bound. We believe that education is the key too personal and professional growth, and we're here to guide you on your journey to success.</p>
                <button class="btn3">Start yout instructor journey</button>
            </div>
            <div class="spot-left">
                <img src="{% static 'images/spotlight.png' %}" alt="Spotlight" />
            </div>
        </div>
     </section>

     <!-- Ad -->
    <section id="ad">
        <div class="wrapper">
            <div class="ad_row">
                <div>
                    <h4>250+</h4>
                    <p>Courses by our best mentors</p>
                </div>
                <div class="ad_col"></div>
                <div>
                    <h4>250+</h4>
                    <p>Courses by our best mentors</p>
                </div>
                <div class="ad_col"></div>
                <div>
                    <h4>250+</h4>
                    <p>Courses by our best mentors</p>
                </div>
                <div class="ad_col"></div>
                <div>
                    <h4>250+</h4>
                    <p>Courses by our best mentors</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Category Section -->
    <section id="category">
        <div class="wrapper">
            <div class="cat_top">
                <h3>Top Categories</h3>
                <small><a href="#">See all</a></small>
            </div>           
            <div class="cat_row">
                {% for category in categories %} 
                    <div class="cat_col">
                        <div class="cat_img">
                            <img src="{{ category.icon.url }}" alt="{{ category.title }}">
                        </div>
                        <h4>{{ category.title }}</h4>
                        <p>{{ category.total_courses }} Courses</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Courses Section -->
    <section id="course">
        <div class="wrapper">
            <div class="course_top">
                <h3>Top Courses</h3>
                <small><a href="{% url 'web:courses'  %}">See all</a></small>
            </div>
            <div class="course_col">
                {% for course in courses %}
                    <div class="course_row">                     
                        <div>
                            <img src="../static/images/bg.jpg" alt="Background" />
                        </div>
                        <h4><a href="{% url 'web:singlepage' course.id %}">{{ course.title }}</a></h4>
                        <p>By {{ course.created_by}}</p>
                        <div class="rating">
                            <div>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div>
                                <small>({{course.ratings}} Ratings)</small>
                            </div>
                        </div>
                        <p>{{ course.duration }} Total Hours. 155 Lectures. Beginner</p>
                        <h3>${{ course.new_price }}</h3>
                    </div>  
                {% endfor %}    
            </div>
        </div>        
    </section>

    <!-- Instructors Section -->
    <section id="instructors">
        <div class="wrapper">
            <div class="ins_top">
                <h3>Top Instructors</h3>
                <small><a href="#">See all</a></small>
            </div>
            <div class="ins_col">
                <div class="ins_row">
                    <div>
                        <img src="../static/images/model-5.jpg" alt="Model" />
                    </div>
                    <h5>Ronald Richards</h5>
                    <p>UI/UX Designer</p>
                    <hr />
                    <div class="ins_rating">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <small>4.9</small>
                        </div>
                        <div>
                            <small>2400 Students</small>
                        </div>
                    </div>
                </div>
                <div class="ins_row">
                    <div>
                        <img src="../static/images/model-5.jpg" alt="Model" />
                    </div>
                    <h5>Ronald Richards</h5>
                    <p>UI/UX Designer</p>
                    <hr />
                    <div class="ins_rating">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <small>4.9</small>
                        </div>
                        <div>
                            <small>2400 Students</small>
                        </div>
                    </div>
                </div>
                <div class="ins_row">
                    <div>
                        <img src="../static/images/model-5.jpg" alt="Model" />
                    </div>
                    <h5>Ronald Richards</h5>
                    <p>UI/UX Designer</p>
                    <hr />
                    <div class="ins_rating">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <small>4.9</small>
                        </div>
                        <div>
                            <small>2400 Students</small>
                        </div>
                    </div>
                </div>
                <div class="ins_row">
                    <div>
                        <img src="../static/images/model-5.jpg" alt="Model" />
                    </div>
                    <h5>Ronald Richards</h5>
                    <p>UI/UX Designer</p>
                    <hr />
                    <div class="ins_rating">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <small>4.9</small>
                        </div>
                        <div>
                            <small>2400 Students</small>
                        </div>
                    </div>
                </div>
                <div class="ins_row">
                    <div>
                        <img src="../static/images/model-5.jpg" alt="Model" />
                    </div>
                    <h5>Ronald Richards</h5>
                    <p>UI/UX Designer</p>
                    <hr />
                    <div class="ins_rating">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <small>4.9</small>
                        </div>
                        <div>
                            <small>2400 Students</small>
                        </div>
                    </div>
                </div>
            </div>               
        </div>
    </section>

    <!-- ------ Customer Section ------ -->
    <section id="customer">
        <div class="wrapper">
            <div class="customer_top">
                <div>
                    <h3>What Our Customer Say <br /> About Us</h3>
                </div>
                <div class="custtop_img">
                    <div class="img_box" id="prev">
                        <img src="../static/images/short-arrow-left.svg" alt="Arrow Left" />
                    </div>
                    <div class="img_box" id="next">
                        <img src="../static/images/short-arrow-right.svg" alt="Arrow Right" />
                    </div>
                </div>
            </div>
            <div class="customer_bot">
                <div class="slider">
                    <div class="cust_bot">
                        <div>
                            <img src="../static/images/quotes.svg" alt="Quotes" />
                        </div>
                        <p>Byway's tech course are top notch! As someone who's always looking to stay ahead in the rapidly evolving tech world, I appreciate the up-to-date content and engaging multimedia.</p>
                        <div class="cust_user">
                            <div>
                                <img src="../static/images/span-7.svg" alt="User" />
                            </div>
                            <div>
                                <h5>Jane Doe</h5>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="cust_bot">
                        <div>
                            <img src="../static/images/quotes.svg" alt="Quotes" />
                        </div>
                        <p>Byway's tech course are top notch! As someone who's always looking to stay ahead in the rapidly evolving tech world, I appreciate the up-to-date content and engaging multimedia.</p>
                        <div class="cust_user">
                            <div>
                                <img src="../static/images/span-7.svg" alt="User" />
                            </div>
                            <div>
                                <h5>Jane Doe</h5>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="cust_bot">
                        <div>
                            <img src="../static/images/quotes.svg" alt="Quotes" />
                        </div>
                        <p>Byway's tech course are top notch! As someone who's always looking to stay ahead in the rapidly evolving tech world, I appreciate the up-to-date content and engaging multimedia.</p>
                        <div class="cust_user">
                            <div>
                                <img src="../static/images/span-7.svg" alt="User" />
                            </div>
                            <div>
                                <h5>Jane Doe</h5>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="cust_bot">
                        <div>
                            <img src="../static/images/quotes.svg" alt="Quotes" />
                        </div>
                        <p>Byway's tech course are top notch! As someone who's always looking to stay ahead in the rapidly evolving tech world, I appreciate the up-to-date content and engaging multimedia.</p>
                        <div class="cust_user">
                            <div>
                                <img src="../static/images/span-7.svg" alt="User" />
                            </div>
                            <div>
                                <h5>Jane Doe</h5>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="cust_bot">
                        <div>
                            <img src="../static/images/quotes.svg" alt="Quotes" />
                        </div>
                        <p>Byway's tech course are top notch! As someone who's always looking to stay ahead in the rapidly evolving tech world, I appreciate the up-to-date content and engaging multimedia.</p>
                        <div class="cust_user">
                            <div>
                                <img src="../static/images/span-7.svg" alt="User" />
                            </div>
                            <div>
                                <h5>Jane Doe</h5>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="cust_bot">
                        <div>
                            <img src="../static/images/quotes.svg" alt="Quotes" />
                        </div>
                        <p>Byway's tech course are top notch! As someone who's always looking to stay ahead in the rapidly evolving tech world, I appreciate the up-to-date content and engaging multimedia.</p>
                        <div class="cust_user">
                            <div>
                                <img src="../static/images/span-7.svg" alt="User" />
                            </div>
                            <div>
                                <h5>Jane Doe</h5>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- -----AD2 Section -->
     <section id="ad2">
        <div class="wrapper">
            <div class="ad2_top">
                <div>
                    <img src="../static/images/image 10.png" alt="User" />
                </div>
                <div>
                    <h3>Become an Instructor</h3>
                    <p>Instructors from around the world teach millions of students on Byway.We provide the tools and skills to teach what you love.</p>
                    <button>Start Your Instructor journey <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="ad2_top">
                <div>
                    <h3>Transform your life through education</h3>
                    <p>
                        Learners around the world are launching new careers, advancing in their fields, and enriching their lives.
                    </p>
                    <button>Checkout Courses <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
                <div>
                    <img src="../static/images/image 11.png" alt="User" />
                </div>
            </div>
        </div>
    </section>
{% endblock %}
