<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

</head>
<body>
    <header>
        <section id="navbar">
            <div class="wrapper">
                <div class="navtop">
                    <h1><a href="#"><img src="../static/images/logo.svg" alt="Logo" /></a></h1>
                    <h3>Byway</h3>
                </div>
                <div class="navbot">
                    <div>
                        <img src="../static/images/cart.svg" alt="Cart" />
                    </div>
                    <button class="btn1"><a href="#">Log In</a></button>
                    <button class="btn2"><a href="#">Sign Up</a></button>
                </div>
            </div>         
        </section>
    </header>

    <!-- ---------Spotlight Section---------- -->
     <section id="spotlight">
        <div class="wrapper">
            <div class="spot-right">
                <h2>Unlock Your Potential with Byway</h2>
                <p>Welcome to Byway, where learning knows no bound. We believe that education is the key too personal and professional growth, and we're here to guide you on your journey to success.</p>
                <button class="btn3">Start yout instructor journey</button>
            </div>
            <div class="spot-left">
                <img src="../static/images/spotlight.png" alt="Spotlight" />
            </div>
        </div>
     </section>

     <!-- Ad -->
    <section id="ad">
        <div class="wrapper">
            <div class="ad_row">
                <div>
                    <h4>250+</h4>
                    <p>Courses by our best mentors</p>
                </div>
                <div class="ad_col"></div>
                <div>
                    <h4>250+</h4>
                    <p>Courses by our best mentors</p>
                </div>
                <div class="ad_col"></div>
                <div>
                    <h4>250+</h4>
                    <p>Courses by our best mentors</p>
                </div>
                <div class="ad_col"></div>
                <div>
                    <h4>250+</h4>
                    <p>Courses by our best mentors</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Category Section -->
     <section id="category">
        <div class="wrapper">
            <div class="cat_top">
                <h3>Top Categories</h3>
                <small><a href="#">See all</a></small>
            </div>            
            <div class="cat_row">
                <div class="cat_col">
                    <div class="cat_img">
                        <img src="../static/images/astrology.svg" alt="Astrology">
                    </div>
                    <h4>Astrology</h4>
                    <p>11 Courses</p>
                </div>
                <div class="cat_col">
                    <div class="cat_img">
                        <img src="../static/images/devlopment.svg" alt="Development" />
                    </div>
                    <h4>Development</h4>
                    <p>12 Courses</p>
                </div>
                <div class="cat_col">
                    <div class="cat_img">
                        <img src="../static/images/marketing.svg" alt="Marketing" />
                    </div>
                    <h4>Marketing</h4>
                    <p>12 Courses</p>
                </div>
                <div class="cat_col">
                    <div class="cat_img">
                        <img src="../static/images/physics.svg" alt="Physics" />
                    </div>
                    <h4>Physics</h4>
                    <p>14 Courses</p>
                </div>
            </div>
        </div>
     </section>

    <!-- Courses Section -->
    <section id="course">
        <div class="wrapper">
            <div class="course_top">
                <h3>Top Courses</h3>
                <small><a href="#">See all</a></small>
            </div>
            <div class="course_col">
                <div class="course_row">
                    <div>
                        <img src="../static/images/bg.jpg" alt="Background" />
                    </div>
                    <h4>Beginner's Guide to Design</h4>
                    <p>By Ronald Richards</p>
                    <div class="rating">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div>
                            <small>(1200 Ratings)</small>
                        </div>
                    </div>
                    <p>22 Total Hours. 155 Lectures. Beginner</p>
                    <h3>$149.9</h3>                    
                </div>
                <div class="course_row">
                    <div>
                        <img src="../static/images/bg.jpg" alt="Background" />
                    </div>
                    <h4>Beginner's Guide to Design</h4>
                    <p>By Ronald Richards</p>
                    <div class="rating">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div>
                            <small>(1200 Ratings)</small>
                        </div>
                    </div>
                    <p>22 Total Hours. 155 Lectures. Beginner</p>
                    <h3>$149.9</h3>                    
                </div>
                <div class="course_row">
                    <div>
                        <img src="../static/images/bg.jpg" alt="Background" />
                    </div>
                    <h4>Beginner's Guide to Design</h4>
                    <p>By Ronald Richards</p>
                    <div class="rating">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div>
                            <small>(1200 Ratings)</small>
                        </div>
                    </div>
                    <p>22 Total Hours. 155 Lectures. Beginner</p>
                    <h3>$149.9</h3>                    
                </div>
                <div class="course_row">
                    <div>
                        <img src="../static/images/bg.jpg" alt="Background" />
                    </div>
                    <h4>Beginner's Guide to Design</h4>
                    <p>By Ronald Richards</p>
                    <div class="rating">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div>
                            <small>(1200 Ratings)</small>
                        </div>
                    </div>
                    <p>22 Total Hours. 155 Lectures. Beginner</p>
                    <h3>$149.9</h3>                    
                </div>
            </div>
        </div>        
    </section>

    <!-- Instructors Section -->
    <section id="instructors">
        <div class="wrapper">
            <div class="ins_top">
                <h3>Top Instructors</h3>
                <small><a href="#">See all</a></small>
            </div>
            <div class="ins_col">
                <div class="ins_row">
                    <div>
                        <img src="../static/images/model-5.jpg" alt="Model" />
                    </div>
                    <h5>Ronald Richards</h5>
                    <p>UI/UX Designer</p>
                    <hr />
                    <div class="ins_rating">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <small>4.9</small>
                        </div>
                        <div>
                            <small>2400 Students</small>
                        </div>
                    </div>
                </div>
                <div class="ins_row">
                    <div>
                        <img src="../static/images/model-5.jpg" alt="Model" />
                    </div>
                    <h5>Ronald Richards</h5>
                    <p>UI/UX Designer</p>
                    <hr />
                    <div class="ins_rating">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <small>4.9</small>
                        </div>
                        <div>
                            <small>2400 Students</small>
                        </div>
                    </div>
                </div>
                <div class="ins_row">
                    <div>
                        <img src="../static/images/model-5.jpg" alt="Model" />
                    </div>
                    <h5>Ronald Richards</h5>
                    <p>UI/UX Designer</p>
                    <hr />
                    <div class="ins_rating">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <small>4.9</small>
                        </div>
                        <div>
                            <small>2400 Students</small>
                        </div>
                    </div>
                </div>
                <div class="ins_row">
                    <div>
                        <img src="../static/images/model-5.jpg" alt="Model" />
                    </div>
                    <h5>Ronald Richards</h5>
                    <p>UI/UX Designer</p>
                    <hr />
                    <div class="ins_rating">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <small>4.9</small>
                        </div>
                        <div>
                            <small>2400 Students</small>
                        </div>
                    </div>
                </div>
                <div class="ins_row">
                    <div>
                        <img src="../static/images/model-5.jpg" alt="Model" />
                    </div>
                    <h5>Ronald Richards</h5>
                    <p>UI/UX Designer</p>
                    <hr />
                    <div class="ins_rating">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <small>4.9</small>
                        </div>
                        <div>
                            <small>2400 Students</small>
                        </div>
                    </div>
                </div>
            </div>               
        </div>
    </section>

    <!-- ------ Customer Section ------ -->
    <section id="customer">

    </section>

    <!-- -----AD2 Section -->
     <section id="ad2">
        <div class="wrapper">
            <div class="ad2_top">
                <div>
                    <img src="../static/images/image 10.png" alt="User" />
                </div>
                <div>
                    <h3>Become an Instructor</h3>
                    <p>Instructors from around the world teach millions of students on Byway.We provide the tools and skills to teach what you love.</p>
                    <button>Start Your Instructor journey <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="ad2_top">
                <div>
                    <h3>Transform your life through education</h3>
                    <p>
                        
                    </p>
                    <button>Start Your Instructor journey <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
                <div>
                    <img src="../static/images/image 11.png" alt="User" />
                </div>
            </div>
        </div>
     </section>
</body>
</html>