{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- main section -->
    <section id="main">
        <div class="wrapper">            
            <div class="left">
                <div class="left_top">
                    <div class="tags">
                        <p>Home</p>
                        <img src="{% static 'images/short-arrow-right-black.svg' %}" alt="Arrow" />
                        <p>Categories</p>
                        <img src="{% static 'images/short-arrow-right-black.svg' %}" alt="Arrow" />
                        <a href="#">{{ courses.title }}</a>
                    </div>
                    <div class="user">
                        <h2>{{ courses.title }}</h2>
                        <p>{{ courses.description }}</p>
                        <div class="user_rating">
                            <div>
                                <p>{{ courses.ratings }}</p>
                            </div>
                            <div>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div>
                                <small>({{ courses.total_ratings }} Ratings)</small>
                            </div>
                            <div><p>|</p></div>
                            <p>{{ courses.duration }} Total Hours. {{ courses.lectures }} Lectures. Beginner</p>
                        </div>
                        <div class="user_info">
                            <div class="user_img">
                                <img src="{% static 'images/span-8.svg' %}" alt="User" />
                            </div>
                            <small>Created by <a href="#">{{ courses.created_by }}</a></small>
                        </div>
                        <div class="language">
                            <div>
                                <img src="{% static 'images/language.svg' %}" alt="Globe" />
                            </div>
                            <p>English, Spanish, Italian, German</p>
                        </div>
                    </div>
                </div>
                <div class="left_mid">
                    <div class="list">
                        <ul>
                            <li class="list1"><a href="#">Description</a></li>
                            <li><a href="#">Instructor</a></li>
                            <li><a href="#">Syllabus</a></li>
                            <li><a href="#">Reviews</a></li>
                        </ul>
                    </div>
                    <div class="course_des">
                        <h3>Course Description</h3>
                        <p>{{ courses.description }}</p>
                        <h3>Certification</h3>
                        <p>At Byway, we understand the significance of formal recognition for your hard work and dedication to continuous learning. Upon successful completion of our courses, you will earn a prestigious certification that not only validates your expertise but also opens doors to new opportunities in your chosen field.</p>
                    </div>
                    <div class="instructor_info">
                        <h3>Instructor</h3>
                        <h4><a href="#">{{ courses.created_by }}</a></h4>
                        <span>UI/UX Designer</span>
                        <div class="inst_info">
                            <div class="inst_img">
                                <img src="{% static 'images/span-8.'%}svg" alt="User" />
                            </div>
                            <div>
                                <div class="info_det">
                                    <img src="{% static 'images/achive.svg'%}" alt="Reviews" />
                                    <span>40,445 Reviews</span>
                                </div>
                                <div class="info_det">
                                    <img src="{% static 'images/cap.svg'%}" alt="Students" />
                                    <span>500 Students</span>
                                </div>
                                <div class="info_det">
                                    <img src="{% static 'images/play.svg'%}" alt="Courses" />
                                    <span>15 Courses</span>
                                </div>
                            </div>
                        </div>
                        <p>With over a decade of industry experience, Ronald brings a wealth of practical knowledge to the classroom. He has played a pivotal role in designing user-centric interfaces for renowned tech companies, ensuring seamless and engaging user experiences.</p>
                    </div>
                </div>
                <div class="left_bot">
                    <h3>Syllabus</h3>
                    <div class="syllabus">
                        <div class="syllabus_info">
                            <div class="info_left">
                                <div>
                                    <img src="{% static 'images/arrow-down.svg' %}" alt="Arrow Down" />
                                </div>
                                <h3>Introduction to UX Design</h3>
                            </div>
                            <div class="info_right">
                                <p>5 Lessons</p>
                                <p>1 hour</p>
                            </div>
                        </div>
                        <div class="syllabus_info">
                            <div class="info_left">
                                <div>
                                    <img src="{% static 'images/arrow-down.svg' %}" alt="Arrow Down" />
                                </div>
                                <h3>Basics of User-Centered Design</h3>
                            </div>
                            <div class="info_right">
                                <p>5 Lessons</p>
                                <p>1 hour</p>
                            </div>
                        </div>
                        <div class="syllabus_info">
                            <div class="info_left">
                                <div>
                                    <img src="{% static 'images/arrow-down.svg' %}" alt="Arrow Down" />
                                </div>
                                <h3>Elements of User Experience</h3>
                            </div>
                            <div class="info_right">
                                <p>5 Lessons</p>
                                <p>1 hour</p>
                            </div>
                        </div>
                        <div class="syllabus_info">
                            <div class="info_left">
                                <div>
                                    <img src="{% static 'images/arrow-down.svg' %}" alt="Arrow Down" />
                                </div>
                                <h3>Visual Design Principles</h3>
                            </div>
                            <div class="info_right">
                                <p>5 Lessons</p>
                                <p>1 hour</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right">
                <div class="right_img">
                    <img src="{% static 'images/img.jpg' %}" alt="User" />
                </div>
                <div class="price">
                    <p>${{ new_price }}</p>
                    <p><del>${{ courses.original_price }}</del></p>
                    <p class="offer">{{ courses.discount_price }}% off</p>
                </div>
                <div>
                    <button class="cart_btn" type="button">Add To Cart</button>
                </div>
                <button class="buy_btn" type="button">Buy Now</button>
                <hr />
                <p>Share</p>
                <div class="right_social">
                    <img src="{% static 'images/social-media.jpg' %}" alt="Social" />
                </div>
            </div>            
        </div>
    </section>

    <!-- Review Section -->
    <section id="reviews">
        <div class="wrapper">
            <h3>Learner Reviews</h3>
            <div class="reviews_col">
                <div class="review_left">
                    <div class="releft_top">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <h4>4.6</h4>
                        <p>146,951 reviews</p>
                    </div>
                    <div class="releft_bot">
                        <div class="rating" data-rating="5">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span>80%</span>
                        </div>
                        <div class="rating" data-rating="4">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span>10%</span>
                        </div>
                        <div class="rating" data-rating="3">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span>5%</span>
                        </div>
                        <div class="rating" data-rating="2">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span>3%</span>
                        </div>
                        <div class="rating" data-rating="1">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span>2%</span>
                        </div>
                    </div>                      
                </div>
                <div class="review_right">
                    <div class="review_box">
                        <div class="box_left">
                            <div>
                                <img src="{% static 'images/span-6.svg' %}" alt="User" />
                            </div>
                            <h4>Mark Doe</h4>
                        </div>
                        <div class="box_right">
                            <div class="boxright_top">
                                <div>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span>5</span>
                                </div>
                                <div>
                                    <p>Reviewed on 22nd March, 2024</p>
                                </div>
                            </div>
                            <div class="boxright_bot">
                                <p>I was initially apprehensive, having no prior design experience. But the instructor, John Doe, did an amazing job of breaking down complex concepts into easily digestible modules. The video lectures were engaging, and the real-world examples really helped solidify my understanding.</p>
                            </div>
                        </div>
                    </div>
                    <div class="review_box">
                        <div class="box_left">
                            <div>
                                <img src="{% static 'images/span-6.svg' %}" alt="User" />
                            </div>
                            <h4>Mark Doe</h4>
                        </div>
                        <div class="box_right">
                            <div class="boxright_top">
                                <div>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span>5</span>
                                </div>
                                <div>
                                    <p>Reviewed on 22nd March, 2024</p>
                                </div>
                            </div>
                            <div class="boxright_bot">
                                <p>I was initially apprehensive, having no prior design experience. But the instructor, John Doe, did an amazing job of breaking down complex concepts into easily digestible modules. The video lectures were engaging, and the real-world examples really helped solidify my understanding.</p>
                            </div>
                        </div>
                    </div>
                    <div class="review_box">
                        <div class="box_left">
                            <div>
                                <img src="{% static 'images/span-6.svg' %}" alt="User" />
                            </div>
                            <h4>Mark Doe</h4>
                        </div>
                        <div class="box_right">
                            <div class="boxright_top">
                                <div>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span>5</span>
                                </div>
                                <div>
                                    <p>Reviewed on 22nd March, 2024</p>
                                </div>
                            </div>
                            <div class="boxright_bot">
                                <p>I was initially apprehensive, having no prior design experience. But the instructor, John Doe, did an amazing job of breaking down complex concepts into easily digestible modules. The video lectures were engaging, and the real-world examples really helped solidify my understanding.</p>
                            </div>
                        </div>
                    </div>
                    <div class="review_box">
                        <div class="box_left">
                            <div>
                                <img src="{% static 'images/span-6.svg' %}" alt="User" />
                            </div>
                            <h4>Mark Doe</h4>
                        </div>
                        <div class="box_right">
                            <div class="boxright_top">
                                <div>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span>5</span>
                                </div>
                                <div>
                                    <p>Reviewed on 22nd March, 2024</p>
                                </div>
                            </div>
                            <div class="boxright_bot">
                                <p>I was initially apprehensive, having no prior design experience. But the instructor, John Doe, did an amazing job of breaking down complex concepts into easily digestible modules. The video lectures were engaging, and the real-world examples really helped solidify my understanding.</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="review_btn">
                            View More Reviews
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ------ Customer Section ------ -->
    <section id="customer">
        <div class="wrapper">
            <div class="customer_top">
                <div>
                    <h3>What Our Customer Say <br /> About Us</h3>
                </div>
                <div class="custtop_img">
                    <div class="img_box" id="prev">
                        <img src="{% static 'images/short-arrow-left.svg'%}" alt="Arrow Left" />
                    </div>
                    <div class="img_box" id="next">
                        <img src="{% static 'images/short-arrow-right.svg'%}" alt="Arrow Right" />
                    </div>
                </div>
            </div>
            <div class="customer_bot">
                <div class="slider">
                    <div class="cust_bot">
                        <div>
                            <img src="{% static 'images/quotes.svg' %}" alt="Quotes" />
                        </div>
                        <p>Byway's tech course are top notch! As someone who's always looking to stay ahead in the rapidly evolving tech world, I appreciate the up-to-date content and engaging multimedia.</p>
                        <div class="cust_user">
                            <div>
                                <img src="{% static 'images/span-7.svg' %}" alt="User" />
                            </div>
                            <div>
                                <h5>Jane Doe</h5>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="cust_bot">
                        <div>
                            <img src="{% static 'images/quotes.svg' %}" alt="Quotes" />
                        </div>
                        <p>Byway's tech course are top notch! As someone who's always looking to stay ahead in the rapidly evolving tech world, I appreciate the up-to-date content and engaging multimedia.</p>
                        <div class="cust_user">
                            <div>
                                <img src="{% static 'images/span-7.svg' %}" alt="User" />
                            </div>
                            <div>
                                <h5>Jane Doe</h5>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="cust_bot">
                        <div>
                            <img src="{% static 'images/quotes.svg' %}" alt="Quotes" />
                        </div>
                        <p>Byway's tech course are top notch! As someone who's always looking to stay ahead in the rapidly evolving tech world, I appreciate the up-to-date content and engaging multimedia.</p>
                        <div class="cust_user">
                            <div>
                                <img src="{% static 'images/span-7.svg' %}" alt="User" />
                            </div>
                            <div>
                                <h5>Jane Doe</h5>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="cust_bot">
                        <div>
                            <img src="{% static 'images/quotes.svg' %}" alt="Quotes" />
                        </div>
                        <p>Byway's tech course are top notch! As someone who's always looking to stay ahead in the rapidly evolving tech world, I appreciate the up-to-date content and engaging multimedia.</p>
                        <div class="cust_user">
                            <div>
                                <img src="{% static 'images/span-7.svg' %}" alt="User" />
                            </div>
                            <div>
                                <h5>Jane Doe</h5>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="cust_bot">
                        <div>
                            <img src="{% static 'images/quotes.svg' %}" alt="Quotes" />
                        </div>
                        <p>Byway's tech course are top notch! As someone who's always looking to stay ahead in the rapidly evolving tech world, I appreciate the up-to-date content and engaging multimedia.</p>
                        <div class="cust_user">
                            <div>
                                <img src="{% static 'images/span-7.svg' %}" alt="User" />
                            </div>
                            <div>
                                <h5>Jane Doe</h5>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="cust_bot">
                        <div>
                            <img src="{% static 'images/quotes.svg' %}" alt="Quotes" />
                        </div>
                        <p>Byway's tech course are top notch! As someone who's always looking to stay ahead in the rapidly evolving tech world, I appreciate the up-to-date content and engaging multimedia.</p>
                        <div class="cust_user">
                            <div>
                                <img src="{% static 'images/span-7.svg' %}" alt="User" />
                            </div>
                            <div>
                                <h5>Jane Doe</h5>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Courses Section -->
    <section id="course">
        <div class="wrapper">
            <div class="course_top">
                <h3>More Courses Like This</h3>
            </div>
            <div class="course_col">
                {% for similar in similar_courses %}
                    <div class="course_row">
                        <div>
                            <img src="{% static 'images/bg.jpg' %}" alt="Background" />
                        </div>
                        <h4>{{ similar.title }}</h4>
                        <p>By {{similar.created_by}} </p>
                        <div class="rating">
                            <div>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div>
                                <small>(1200 Ratings)</small>
                            </div>
                        </div>
                        <p>{{ similar.duration }} Total Hours. 155 Lectures. Beginner</p>
                        <h3>${{ similar.new_price }}</h3>                    
                    </div>
                {% endfor %}
            </div>
        </div>        
    </section>
{% endblock %}
    